#uber{
    background-color: black;
    color:white;
    height: 30px;
    width: 100px;
    border: 5px solid black;
}
 #box{
    border: 3px solid white;
    height: 40px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
   border-radius: 1px;
   background-color: white;
   margin:20px;
} 
#amazon{
    background-color: rgb(255,216,20);
    color:black;
    height: 30px;
    width: 150px;
    border: 1px solid black;
    border-radius: 20px;
}
 #box2{
    border: 3px solid white;
    height: 40px;
    width: 160px;
    text-align: center;
    padding-top: 10px;
   border-radius: 1px;
   background-color: white;
   margin:20px;
} 
#GitHub{
    background-color: rgb(46,164,79);
    color:black;
    height: 30px;
    width: 100px;
    border: 1px solid black;
    border-radius: 4px;
}
 #box3{
    border: 3px solid white;
    height:36px;
    width: 110px;
    text-align: center;
     padding-top: 5px; 
   border-radius: 1px;
   background-color: white;
   margin:20px;
} 
body{
    background-color: black;
}